//
// Includes = persistent aesthetic styling across pages
//
@import 'includes/resets';
@import 'includes/colors';
@import 'includes/fonts';
@import 'includes/variables';

//
// Mixins
//
@import 'mixins/responsive';

//
// Globals = persistant dom layout across pages
//
@import 'globals/navigation';

body {
  background: $brandSecondary;
  }

.jumbotron{

  //Variables forJumbotron
  $pFiller:40px;                              //overall Padding for filler
  //--------------------------------

  width: 100%;
  height: 720px;
  display: block;
  background: url(../images/l3.jpg)  no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .spacer{
  height: 280px;
  // text-align:center;
  }
  .filler{

  width: 600px;
  padding:$pFiller;
    // h2{
    // color: $brandPrimary;
    // }
    // p{
    // color: $brandPrimary;}
    // }
  // background:$brandSecondary;
  }

  @include forScreen($tablet){

      background-position:0px;
      height: 500px;
      width: 100%;
      p{font-size:19px;}
  }

    @include forScreen($phone){

      background-position:0px;
      height: 400px;
      width: 100%;
      p{font-size:19px;}
      .spacer{
        height: 150px;
        // text-align:center;
      }
      .filler{
        padding: 5px;
        width: 220px;
        }
  }
}


