ul, ol, li {
  margin: 0;
  padding: 0; }

a {
  color: #333333; }
  a:hover {
    text-decoration: none !important; }

@font-face {
  font-family: 'open_sansbold';
  src: url("opensans-bold-webfont.eot");
  src: url("opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("opensans-bold-webfont.woff") format("woff"), url("opensans-bold-webfont.ttf") format("truetype"), url("opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansextrabold';
  src: url("opensans-extrabold-webfont.eot");
  src: url("opensans-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("opensans-extrabold-webfont.woff") format("woff"), url("opensans-extrabold-webfont.ttf") format("truetype"), url("opensans-extrabold-webfont.svg#open_sansextrabold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansitalic';
  src: url("opensans-italic-webfont.eot");
  src: url("opensans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("opensans-italic-webfont.woff") format("woff"), url("opensans-italic-webfont.ttf") format("truetype"), url("opensans-italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanslight_italic';
  src: url("opensans-lightitalic-webfont.eot");
  src: url("opensans-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("opensans-lightitalic-webfont.woff") format("woff"), url("opensans-lightitalic-webfont.ttf") format("truetype"), url("opensans-lightitalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sansregular';
  src: url("opensans-regular-webfont.eot");
  src: url("opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("opensans-regular-webfont.woff") format("woff"), url("opensans-regular-webfont.ttf") format("truetype"), url("opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanssemibold';
  src: url("opensans-semibold-webfont.eot");
  src: url("opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("opensans-semibold-webfont.woff") format("woff"), url("opensans-semibold-webfont.ttf") format("truetype"), url("opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

.navbar {
  margin-bottom: 0px; }

nav {
  padding-top: 10px;
  background: white;
  height: 65px; }
  nav img {
    display: inline;
    width: 95%;
    height: 95%;
    margin-top: -10px; }
  nav ul {
    margin-left: 30px;
    margin-top: -70px;
    list-style-type: none; }
    nav ul li {
      display: inline;
      padding: 0 15px; }
  @media screen and (min-width: 768px) {
    nav .container {
      width: 800px; }
    nav .navbar > .container .navbar-brand {
      margin-left: -110px; } }
  @media screen and (min-width: 992px) {
    nav .container {
      width: 970px; } }
  @media screen and (min-width: 401px) and (max-width: 992px) and (orientation: portrait) {
    nav {
      padding-top: 10px;
      line-height: 48px;
      height: 65px;
      font-weight: lighter; }
      nav label {
        display: inline-block;
        font-size: 3.5em;
        font-weight: lighter;
        margin-left: -20px; } }
  @media screen and (min-width: 360px) and (max-width: 400px) {
    nav {
      height: 65px;
      padding-top: 13px;
      line-height: 45px; }
      nav label {
        display: inline-block;
        font-size: 3.5em;
        font-weight: lighter;
        margin-left: -20px; } }

body {
  background: white; }

.phoneView {
  display: none; }

.placeholder-thumbnail {
  display: block;
  height: 140px;
  width: 140px;
  background: #999;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px; }

.highlight {
  display: block;
  background: white;
  color: #333333;
  padding: 10px; }

.resetLeft {
  margin-left: 0;
  padding-left: 0; }

.resetBottom {
  margin-bottom: 0px; }

.pushDown {
  margin-top: 220px; }

.space {
  padding-bottom: 30px; }

#footer {
  background: #ed1c24;
  height: 60px;
  padding-top: 20px;
  color: white; }
  #footer ul li {
    padding-right: 15px;
    display: inline; }

.smallerText {
  font-size: 16px; }

.support {
  height: 480px;
  background: #F2F2F2;
  margin-bottom: 0px; }

.footer a {
  color: white; }

.signup {
  height: 695px; }

.overview {
  height: 695px; }

.build {
  margin-top: -40px;
  height: 900px;
  background: #fff; }

.quality {
  margin-top: -40px;
  height: 900px;
  background: #fafafa; }

.memory {
  margin-top: -40px;
  height: 600px;
  background: #555; }

.accessories {
  margin-top: -40px;
  margin-bottom: -40px;
  height: 680px; }

.cta {
  width: 100%;
  height: 500px;
  background: url(../images/83H.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

@media screen and (min-width: 401px) and (max-width: 992px) and (orientation: portrait) {
  .cta {
    background-position: 0px;
    height: 500px;
    width: 100%; }
    .cta p {
      font-size: 19px; } }
@media screen and (min-width: 360px) and (max-width: 400px) {
  .desktopView {
    display: none; }

  .phoneView {
    display: block; }

  .pushDown {
    margin-top: 100px; }

  .cta {
    background-position: 0px;
    height: 300px;
    width: 100%; }
    .cta p {
      font-size: 16px; } }
