/* line 4, ../../build/sass/includes/_resets.scss */
ul, ol, li {
  margin: 0;
  padding: 0;
}

/* line 10, ../../build/sass/includes/_resets.scss */
.placeholder-thumbnail {
  display: block;
  height: 140px;
  width: 140px;
  background: #999;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* line 21, ../../build/sass/includes/_resets.scss */
.resetLeft {
  margin-left: 0;
  padding-left: 0;
}

/* line 25, ../../build/sass/includes/_resets.scss */
.resetBottom {
  margin-bottom: 0px;
}

/* line 29, ../../build/sass/includes/_resets.scss */
.pushDown {
  margin-top: 220px;
}

/* line 33, ../../build/sass/includes/_resets.scss */
.space {
  padding-bottom: 30px;
}

/* line 2, ../../build/sass/includes/_fonts.scss */
a {
  color: #333333;
}
/* line 5, ../../build/sass/includes/_fonts.scss */
a:hover {
  text-decoration: none !important;
}

/* line 18, ../../build/sass/globals/_navigation.scss */
.navbar {
  margin-bottom: 0px;
}

/* line 21, ../../build/sass/globals/_navigation.scss */
.nav-text {
  letter-spacing: 1px;
  margin-right: -60px;
}

/* line 26, ../../build/sass/globals/_navigation.scss */
.logo {
  width: 100%;
  height: 100%;
  margin-top: -5px;
  margin-left: -35px;
}

/* line 33, ../../build/sass/globals/_navigation.scss */
nav {
  padding-top: 10px;
  background: white;
  height: 65px;
}
/* line 38, ../../build/sass/globals/_navigation.scss */
nav ul {
  margin-left: 30px;
  margin-top: -70px;
  list-style-type: none;
}
/* line 43, ../../build/sass/globals/_navigation.scss */
nav ul li {
  display: inline;
  padding: 0 10px;
}
@media screen and (min-width: 768px) {
  /* line 50, ../../build/sass/globals/_navigation.scss */
  nav .container {
    width: 800px;
  }
  /* line 53, ../../build/sass/globals/_navigation.scss */
  nav .navbar > .container .navbar-brand {
    margin-left: -110px;
  }
}
@media screen and (min-width: 992px) {
  /* line 60, ../../build/sass/globals/_navigation.scss */
  nav .container {
    width: 970px;
  }
}

/* line 21, ../../build/sass/application.scss */
html, body {
  background: white;
}

/* line 25, ../../build/sass/application.scss */
.content {
  height: 100%;
  margin-top: -65px;
}

/* line 30, ../../build/sass/application.scss */
.wrapper {
  height: inherit;
  background: #F2F2F2;
  padding-top: 65px;
}

/* line 38, ../../build/sass/application.scss */
.phoneView {
  display: none;
}

/* line 42, ../../build/sass/application.scss */
.highlight {
  display: block;
  background: white;
  color: #333333;
  padding: 10px;
  border-radius: 3px;
}

/* line 50, ../../build/sass/application.scss */
.smallerText {
  font-size: 16px;
}

/* line 54, ../../build/sass/application.scss */
.build, .quality {
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  height: 760px;
  margin-bottom: 0;
}

/* line 60, ../../build/sass/application.scss */
.overview, .memory {
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  height: 595px;
  margin-bottom: 0;
}

/* line 72, ../../build/sass/application.scss */
.cta {
  height: 500px;
  letter-spacing: 5px;
  background: url(../images/m9c.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 77, ../../build/sass/application.scss */
.cta a {
  font-size: 20px;
}

/* line 94, ../../build/sass/application.scss */
.overview {
  background: white;
}

/* line 99, ../../build/sass/application.scss */
.build {
  background: #333333;
}

/* line 105, ../../build/sass/application.scss */
.quality {
  background: #fafafa;
}

/* line 110, ../../build/sass/application.scss */
.memory {
  height: 600px;
  background: #555;
}

/* line 116, ../../build/sass/application.scss */
.accessories {
  height: 680px;
}

/* line 123, ../../build/sass/application.scss */
.support {
  padding: 200px 0 0 0;
  min-height: 680px;
}

/* line 132, ../../build/sass/application.scss */
.signup {
  padding: 200px 0 0 0;
  min-height: 680px;
}
/* line 136, ../../build/sass/application.scss */
.signup .highlight {
  letter-spacing: 3px;
  font-size: 16px;
  font-weight: lighter;
  background: #333333;
  color: white;
  border-radius: 3px;
}

/* line 1, ../../build/sass/includes/_footer.scss */
#footer {
  color: #333333;
  background: white;
  width: 100%;
  height: 60px;
  padding-top: 20px;
}
/* line 8, ../../build/sass/includes/_footer.scss */
#footer a {
  color: #333333;
}
/* line 12, ../../build/sass/includes/_footer.scss */
#footer ul li {
  padding-right: 15px;
  display: inline;
}

@media screen and (min-width: 1200px) and (max-width: 1920px) {
  /* line 3, ../../build/sass/views/_widescreen.scss */
  .cta {
    height: 800px;
    padding-top: 300px;
    background-position: 0 -40px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  /* line 9, ../../build/sass/views/_widescreen.scss */
  .cta h1 {
    color: white;
    font-size: 55px;
    font-weight: lighter;
    padding-bottom: 15px;
  }
  /* line 15, ../../build/sass/views/_widescreen.scss */
  .cta p {
    font-size: 16px;
  }
}
@media screen and (min-width: 401px) and (max-width: 992px) and (orientation: portrait) {
  /* line 6, ../../build/sass/views/_tablet.scss */
  .cta {
    background: url(../images/m9c.jpg) no-repeat center center;
    background-position: 0;
    width: 100%;
    height: 550px;
    padding-top: 200px;
  }
  /* line 12, ../../build/sass/views/_tablet.scss */
  .cta h1 {
    color: white;
    font-size: 32px;
    font-weight: lighter;
    padding-bottom: 15px;
  }
  /* line 18, ../../build/sass/views/_tablet.scss */
  .cta p {
    font-size: 18px;
  }

  /* line 23, ../../build/sass/views/_tablet.scss */
  .support {
    padding: 200px 0 0 0;
    min-height: 762px;
  }

  /* line 28, ../../build/sass/views/_tablet.scss */
  .signup {
    min-height: 762px;
  }
}
@media screen and (min-width: 360px) and (max-width: 400px) {
  /* line 5, ../../build/sass/views/_phone.scss */
  .desktopView {
    display: none;
  }

  /* line 8, ../../build/sass/views/_phone.scss */
  .phoneView {
    display: block;
  }

  /* line 12, ../../build/sass/views/_phone.scss */
  .cta {
    background: url(../images/m9c.jpg) no-repeat center center;
    background-position: -190px -500px;
    width: 100%;
    height: 350px;
    padding-top: 100px;
  }
  /* line 18, ../../build/sass/views/_phone.scss */
  .cta h1 {
    color: white;
    font-size: 18px;
    font-weight: lighter;
    padding-bottom: 15px;
  }
  /* line 24, ../../build/sass/views/_phone.scss */
  .cta p {
    font-size: 16px;
  }
}
