//
//Tablet Settings
//
@include forScreen($tablet){
  .cta{
    background-position  : 0;
    height               : 500px;
    width                : 100%;
    p{
      font-size          : 19px;
    }
  }
}