doctype html
html
	head
		title Lecia Camera AG
		meta(charset="utf-8")
		meta(description="Mycamera website")
		meta(keywords="cage, boom, brim")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

		link(href="public/css/bootstrap.min.css" rel="stylesheet")
		link(href="public/css/bootstrap-theme.min.css" rel="stylesheet")
		link(href="public/css/application.css" rel="stylesheet")
		link(href="http://fonts.googleapis.com/css?family=Open Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic;" rel="stylesheet" type="text/css")

	body

		//- Header and Nav
		//- ___________________________.navbar-fixed-top
		nav.navbar.navbar-default(role="navigation")
					.container
						.navbar-header
							button.navbar-toggle(type="button")(data-toggle="collapse")(data-target=".navbar-ex1-collapse")
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
							a.navbar-brand(href="#")
								img(src="public/images/logo3.svg")

						.collapse.navbar-collapse.navbar-ex1-collapse
							ul.nav.navbar-nav.pull-right
								li
									a(href="#").active Home
								li
									a(href="#") Products
								li
									a(href="#") Support
								li
									a(href="#") Contact
								li
									a(href="#") Sign Up
		//- Big picture CTA
		//- ___________________________
		.jumbotron
			.container.jumbo.col-md-offset-4
				h1 Contact US.
				p The sheer joy of photography.


		.container-fluid.contact
				.row
					.col-md-3.col-md-push-2
						h5 Leica AG Cameras
						ul.list-unstyled
							li 1311 SA Cardinal Court
							li Vancouver, WA 22933
							li USA
					.col-md-3.col-md-push-2
						h5 Customer Support
						ul.list-unstyled
							li TEL 800-922-6613
							li support@leica.com
					.col-md-3.col-md-push-2
						h5 Follow Us
						ul.list-unstyled
							li Facebook
							li Twitter
							li Flickr

		#footer
			.container.text-muted
				p &copy; Copyright 2014 Leica Camera AG


		script(src='public/js/jquery-1.11.1.min.js')
		script(src='public/js/bootstrap.min.js')
		script document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')


