doctype html
html
	head
		title Lecia Camera AG
		meta(charset="utf-8")
		meta(description="Mycamera website")
		meta(keywords="cage, boom, brim")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

		link(href="public/css/bootstrap.min.css" rel="stylesheet")
		link(href="public/css/bootstrap-theme.min.css" rel="stylesheet")
		link(href="public/css/application.css" rel="stylesheet")
		link(href="http://fonts.googleapis.com/css?family=Open Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic;" rel="stylesheet" type="text/css")

	body

		//- Header and Nav
		//- ___________________________
		nav(role="navigation")
			.container
				.row
					label#toggle.pull-left(for='menu-toggle')
						| ≡
				.logo.pull-left
					img(src="./public/images/logo1.svg")
					.col-xs-6.col-sm-offset-6
						ul
							li
								a(href='#') Homes
							li
								a(href='#') Products
							li
								a(href='#') Support
							li
								a(href='#') Contact
							li
								a(href='#') Sign Up

		//- Big picture CTA
		//- ___________________________

		.jumbotron
			.row
				.col-sm-6.col-sm-offset-2
					.spacer
					.filler
						h1
							| LEICA T
						p The sheer joy of photography.

		script document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')

