doctype html
html
	head
		title Lecia Camera AG
		meta(charset="utf-8")
		meta(description="Mycamera website")
		meta(keywords="cage, boom, brim")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

		link(href="public/css/bootstrap.min.css" rel="stylesheet")
		link(href="public/css/bootstrap-theme.min.css" rel="stylesheet")
		link(href="public/css/application.css" rel="stylesheet")
		link(href="http://fonts.googleapis.com/css?family=Open Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic;" rel="stylesheet" type="text/css")

	body
		//- Header and Nav
		//- ___________________________.navbar-fixed-top
		include includes/nav

		//- Big picture CTA
		//- ___________________________
		.jumbotron.cta
				.row
					.col-md-4
					.jumbo.col-md-4.text-center
						h1 Leica World
						p Sign Up

		.container.text-center
			.row
				.col-sm-1
				.col-sm-3
					img.img-rounded.placeholder-thumbnail
					p Designed from the ground up as tools for creating completely unique visual experiences, nothing more and nothing less.
				.col-sm-3
					img.img-rounded.placeholder-thumbnail
					p Designed from the ground up as tools for creating completely unique visual experiences, nothing more and nothing less.
				.col-sm-3
					img.img-rounded.placeholder-thumbnail
					p Designed from the ground up as tools for creating completely unique visual experiences, nothing more and nothing less.

		//-Footer
		//-___________________________
		include includes/footer


		script(src='public/js/jquery-1.11.1.min.js')
		script(src='public/js/bootstrap.min.js')
		script document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')


