doctype html
html
	head
		title Lecia Camera AG
		meta(charset="utf-8")
		meta(description="Mycamera website")
		meta(keywords="cage, boom, brim")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

		link(href="public/css/bootstrap.min.css" rel="stylesheet")
		link(href="public/css/bootstrap-theme.min.css" rel="stylesheet")
		link(href="public/css/application.css" rel="stylesheet")
		link(href="http://fonts.googleapis.com/css?family=Open Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic;" rel="stylesheet" type="text/css")

	body

		//- Header and Nav
		//- ___________________________.navbar-fixed-top
		include includes/nav

		//- Main Product Details
		//- ___________________________
		.jumbotron.overview
			.container.col-md-push-4
				h1 Leica T
				.row
					.col-sm-4
						p
							| Take pictures and share them. Quickly and easily. By email, or on Facebook and other social networks. All you have to do is download the free Leica T app to your iOS device.
				.row
					.col-md-2
						h2 $1,999
					.col-md-2
						h3 Buy Now

		//-Product Features
		//-___________________________

		.jumbotron.build
			.container
				h2 Clean design.
				.row
					.col-sm-4
						p
							| Take pictures and share them. Quickly and easily. By email, or on Facebook and other social networks. All you have to do is download the free Leica T app to your iOS device.

		.jumbotron.quality
			.container
				h2 Stunning picture quality.
				.row
					.col-sm-4
						p
							| Take pictures and share them. Quickly and easily. By email, or on Facebook and other social networks. All you have to do is download the free Leica T app to your iOS device.

		.jumbotron.memory
			.container
				h2 Built in memory.
				.row
					.col-sm-4
						p
							| Take pictures and share them. Quickly and easily. By email, or on Facebook and other social networks. All you have to do is download the free Leica T app to your iOS device.

		//-Product Accessories
		//-___________________________
		include includes/accessories


		//-Footer
		//-___________________________
		include includes/footer

		script(src='public/js/jquery-1.11.1.min.js')
		script(src='public/js/bootstrap.min.js')
		script document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')


