//
// Main persistant header, logo, and navigation
//
$paddingDesktopNav: 10px;
$paddingTabletNav: 10px;
$paddingPhoneNav: 13px;
$linehTabletNav:48px;
$linehPhoneNav: 45px;
$logoSizeD:95%;
$logoSize: 23%;
$lh: -70px;
$navDesktopHeight: 65px;
$navPhoneHeight: 65px;
$navTabletHeight: 160px;

// Navigation

.navbar{
		margin-bottom: 0px;
	}

nav{


	padding-top: $paddingDesktopNav;
	background: $white;
	height: $navDesktopHeight;

		img{
		// border-radius: 50%;
		// background: $brandAccent;
		display: inline;
		width: $logoSizeD;
		height: $logoSizeD;
		margin-top: -10px;
			}


	ul{
	margin-left: 30px;
	margin-top: $lh;
	list-style-type: none;

	li {
	display: inline;
	padding: 0 15px;
		}
	}
	//Small Screen (Desktop) Settings
	@include forScreen($smallScreen){
	.container{width: 800px;}
	}

	//Desktop Settings
	@include forScreen($mediumScreen){
	.container{width: 970px;}
	}


	 //Tablet Settings
	@include forScreen($tablet){
		padding-top: $paddingTabletNav;
		line-height: $linehTabletNav;
		height: $navDesktopHeight;
		font-weight:lighter;
		label{
		display: inline-block;
		font-size: 3.5em;
		font-weight:lighter;
		margin-left:-20px;
		}
	}

	//Phone Settings
	@include forScreen($phone) {
		height: $navPhoneHeight;
		padding-top: $paddingPhoneNav;
		line-height: $linehPhoneNav;
		label{
		display: inline-block;
		font-size: 3.5em;
		font-weight:lighter;
		margin-left:-20px;
		}
	 }
}

