//
// Main persistant header, logo, and navigation
//
$paddingDesktopNav: 10px;
$paddingTabletNav: 10px;
$paddingPhoneNav: 13px;
$linehTabletNav:48px;
$linehPhoneNav: 45px;
$logoSizeD:60%;
$logoSize: 23%;
$lh: -70px;
$navDesktopHeight: 65px;
$navPhoneHeight: 65px;
$navTabletHeight: 160px;

// Navigation

.navbar{
		margin-bottom: 0px;
	}

nav{



	padding-top: $paddingDesktopNav;
	background: $white;
	height: $navDesktopHeight;

	.logo{
		img{
		// border-radius: 50%;
		// background: $brandAccent;
		display: inline;
		width: $logoSizeD;
		height: $logoSizeD;
			}
	}

	a{
	color: $brandSecondary;
		&:hover{
		color:$brandAccent;
		}
	}



	label{
	display: none;
	}

	ul{
	margin-left: 30px;
	margin-top: $lh;
	list-style-type: none;

	li {
	display: inline;
	padding: 0 15px;
		}
	}

	 //Tablet Settings
	@include forScreen($tablet){
		.firstnav{
		display: none;
		}
		padding-top: $paddingTabletNav;
		line-height: $linehTabletNav;
		height: $navDesktopHeight;
		font-weight:lighter;

		.logo{
		// border-radius: 50%;
		// background: $brandAccent;
		margin-left:-10px;
		margin-top:-10px;
		width: $logoSize;
		height: $logoSize;

			}

		ul{
		display: none;
		}

		label{
		display: inline-block;
		font-size: 3.5em;
		font-weight:lighter;
		margin-left:-20px;
		}
	}

	//Phone Settings
	@include forScreen($phone) {
		.firstnav{
		display: none;
		}
		.logo{
		margin-left:-10px;
		margin-top:-10px;
		width: $logoSize;
		height:$logoSize;
		}
		height: $navPhoneHeight;
		padding-top: $paddingPhoneNav;
		line-height: $linehPhoneNav;

		label{
		display: inline-block;
		font-size: 3.5em;
		font-weight:lighter;
		margin-left:-20px;
		}
		ul{
		display: none;
		}
	 }
}

