//
// Main persistant header, logo, and navigation
//
$paddingDesktopNav: 10px;
$paddingTabletNav: 10px;
$paddingPhoneNav: 13px;
$linehTabletNav: 40px;
$linehPhoneNav: 40px;
$logoSize: 30%;
$lh: -30px;
$navDesktopHeight: 65px;
$navPhoneHeight: 65px;
$navTabletHeight: 160px;

// Navigation
nav{

	padding-top: $paddingDesktopNav;
	background: $white;
	height: $navDesktopHeight;

	.logo{
		img{
		// border-radius: 50%;
		// background: $brandAccent;
		display: inline;
		width: $logoSize;
		height: $logoSize;
			}
	}

	a{
	color: $brandAccent;
	}

	label{
	display: none;
	}

	ul{
	margin-left: 30px;
	margin-top: $lh;
	list-style-type: none;

	li {
	display: inline;
	padding: 0 15px;
		}
	}

	 //Tablet Settings
	@include forScreen($tablet){
		padding-top: $paddingTabletNav;
		line-height: $linehTabletNav;
		height: $navDesktopHeight;
		text-align: center;

		ul{
		display: none;
		}

		label{
		display: inline-block;
		font-size: 3.5em;
		}
	}

	//Phone Settings
	@include forScreen($phone) {
		height: $navPhoneHeight;
		padding-top: $paddingPhoneNav;
		line-height: $linehPhoneNav;

		label{
		display: inline;
		font-size: 3.5em;
		}
		ul{
		display: none;
		}
	 }
}

